body {
    background-color: black;
    color: white;
}

.underArea {
    position: inherit;
    top: 1px;
    left: 1px;
    height: 250px;
}

.commandBox {
    display: none;  /* 初期表示は非表示から。 */
    position: absolute;
    width: 100px;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: white;/*文字色*/
    background: black;
    border: solid 3px white;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.commandBox p {
    margin: 0.2;
    padding: 0.2;
}

.informationBox {
    position: relative;
    left: 120px;
    width: 85%;
    height: 250px;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: white;/*文字色*/
    background: black;
    border: solid 3px white;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.informationBox p {
    margin: 0.2;
    padding: 0.2;
}

.enemyArea {
    position: inherit;
}

.enemyArea table {
    margin-left: auto;
    margin-right: auto;
}
.enemyArea th {
    padding: 1px 5px 1px 5px;
}
.enemyArea td {
    padding: 1px 5px 1px 5px;
}

.playerArea {
    position: inherit;
	margin: 0 auto;
}
.playerBox {
    position: inherit;
    width: fit-content;
    border: solid 3px white;/*線*/
    border-radius: 10px;/*角の丸み*/
    margin: 0.2;
    padding: 0.2;
    margin-left: auto;
    margin-right: auto;
}
.playerBox table {
    margin-left: auto;
    margin-right: auto;
}
.playerBox th {
    padding: 1px 5px 1px 5px;
}
.playerBox td {
    padding: 1px 5px 1px 5px;
}
